In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('./../Purchased_Dataset.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [10]:
x = df[['Age', 'EstimatedSalary']]
y = df['Purchased']

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=5)

In [12]:
knnClassifier = KNeighborsClassifier(n_neighbors=4)
knnClassifier.fit(x_train, y_train)
y_pred = knnClassifier.predict(x_test)
metrics.accuracy_score(y_test, y_pred)

0.78

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=3)

In [14]:
knnClassifier = KNeighborsClassifier(n_neighbors=4)
knnClassifier.fit(x_train, y_train)
y_pred = knnClassifier.predict(x_test)
metrics.accuracy_score(y_test, y_pred)

0.81

In [16]:
x_train.head()

     Age  EstimatedSalary
75    34           112000
14    18            82000
47    27            54000
46    25            79000
379   58            23000

In [17]:
from sklearn.model_selection import cross_val_score
knnClasifier = KNeighborsClassifier(n_neighbors=4)
print(cross_val_score(knnClasifier, x ,y , cv=10, scoring='accuracy').mean())

0.7925

In [20]:
from sklearn.linear_model import LogisticRegression
liner = LogisticRegression()
print(cross_val_score(liner, x ,y , cv=10, scoring='accuracy').mean())

0.6425000000000001